
.task-entry {
    border: 1px solid black ;
    background-color: whitesmoke;
}

.description-entry {
    background-color: lightgrey;
}

.title-container {
    display: flex;
    justify-content: space-between;
}